{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <div class="container p-4 mb-2">
        <h2>Modifier le produit </h2>

        {{ include('produit/_form.html.twig', {'button_label': 'Mettre à jour le produit'}) }}

        <a class=" btn btn-outline-success" href="{{ path('app_produit_index') }}">Retour au Dashboard</a>

        {{ include('produit/_delete_form.html.twig') }}
    </div>
{% endblock %}
